#cv-top {
    background-color: #000228;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cv-color {
    background-color: #000228;
}

.cv-color h1, .cv-section h2 {
    color: whitesmoke;
}

.cv-section h2{
    font-size: 32px;
}

.cv-navigation-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75px;
    position: absolute;
    width: 100%;
    color: whitesmoke;
    cursor: pointer;
}

.go-up {
    top: 20px
}

.go-down {
    bottom: 20px;
}

.cv-navigation p {
    padding: 0;
    margin: 0;
}


.cv-h1-text {
    color: whitesmoke;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

.cv-subtext {
    color: #CCCCCC;
}

.information-button.cv {
    border-color: gray;
}

.information-button.right.cv {
    background: linear-gradient(to left, gray 50%, transparent 50%) left;
}

.information-button.left.cv {
    background: linear-gradient(to right, gray 50%, transparent 50%) right;
}

.sidebar-cv {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 125px;
    text-align: center;
    transition: opacity 0.5s ease-out;
    display: none;
    border-right: 6px solid floralwhite;
    margin-right: 10px;
}

.sidebar-cv ul {
    text-align: left;
    padding: 0 10px 0 0;
    list-style: none;
    margin: 0;
}

.sidebar-cv li {
    cursor: pointer;

    left: 0;
}

.sidebar-cv li a{
    color: floralwhite;
}

.sidebar-cv .active {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-weight: bold;
    border-right: 6px solid slategray;
    width: 100%;
}

.sidebar-cv.scrolled {
    display: inline-block;
}

.centered-content {
    color: whitesmoke;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.centered-content.languages{
    align-items: flex-start;
    justify-content: space-between;
}

.languages h2{
    margin-bottom: 40px;
}

.profile-text {
    flex: 5;
    padding: 20px;
    text-align: left;
}

.profile-img {
    flex: 2;
    text-align: center;
}

.profile-img{
    background-color: red;
    height: 210px;
    width: 140px;
}

.cv-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-left, .skills-right {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.skill-bar {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 10px auto;
}

.skill-label {
    text-align: left;
    width: 100px;
}

.skill-progress {
    flex: 1;
    background-color: #282c34;
    border: 1px solid #888c96;
    height: 35px;
    margin-left: 10px;
    position: relative;
}

.skill-progress-bar {
    height: 100%;
    background-color: #156c15;
}

.experience-block {
    width: 90%;
    display: flex;
    margin: 20px;
    padding: 10px;
    border: 1px solid silver;
    align-items: center;

}

.logo {
    flex: 1;
    text-align: center;
}

.logo img {
    max-width: 130px;
    height: auto;
    max-height: 100px;
}

.info {
    flex: 3;
    padding: 0 20px;
}

.info h3 {
    font-size: 1.2em;
    margin-top: 0;
}

.info p {
    text-align: left;
}

.dates {
    text-align: right;
    margin-top: 0;
    font-weight: bold;
}

.top-info {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-height: 600px){
    .cv-navigation{
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .centered-content{
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    .sidebar-cv.scrolled {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .cv-h1-text {
        font-size: 3em;
    }

    .cv-subtext {
        font-size: 16px;
    }

    .skill-bar {
        width: 90%;
    }

    .cv-navigation{
        display: none;
    }
    .centered-content {
        flex-direction: column;
    }

    .centered-content{
        width: 80%;
    }

    .centered-content.languages{
        align-items: center;
        justify-content: center;
    }

    .profile-text,
    .profile-img {
        flex: auto;
        padding: 10px;
    }

    .profile-img {
        order: -1;
    }

    .experience-block {
        flex-direction: column;
    }

    .top-info{
        justify-content: center;
        flex-direction: column;
    }

    .info{
        text-align: center;
    }

    .info .dates {
        text-align: center;
    }

}