.sections {
    min-height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid black;
}


section {
    height: 100%;
}

/*.cv-home-text{*/
/*    position: absolute;*/
/*    cv-home: 20px;*/
/*}*/

.top-text{
    flex-shrink: 0;
    height: 15%;
    width: 100%;
    position: sticky;
    top: 30px;
    z-index: 1;
}

.sidebar {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 150px;
    text-align: center;
    transition: opacity 0.5s ease-out;
    display: none;
}

.sidebar.scrolled {
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar .active {
    font-weight: bold;
}



@media only screen and (max-width: 800px) {
    .top-text{
        top: 5px;
    }
    .sidebar.scrolled {
        display: none;
    }

    .sidebar{
        display: none;
    }

    .sections {
        overflow: hidden;
        border-bottom: 2px solid #282c34;
    }
}
