#section1 {
    margin-top: 80px;
    background-color: #13458c;
}

#section2 {
    background-color: #4d7aad;
}

#section3 {
    background-color: #7ba8cc;
}

#section4 {
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}



.project-slider {
    /*Navbar is 80px and dots are 25px. Also 50px for margin*/
    height: calc(100vh - 155px);
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}